@import url('../global.css');

.product__in__cart__overview,
.product__in__order__overview {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.product__in__order  {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: .6rem;
    margin: 1rem 0rem;
}

.product__in__order__infos {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.product__in__order__infos {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product__in__order__infos__img {
    width: 48px;
    border-radius: .3rem;
}

.product__in__order__infos__name {
    display: block;
    color: var(--Rose-900);
    font-family: var(--FontBold);
    width: 100%;
}

.product__in__order__infos__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__in__order__details {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.product__in__order__details__quantity {
    color: var(--Red);
    font-family: var(--FontBold);
}

.product__in__order__details__price  {
    color: var(--Rose-500);
    font-size: var(--Font16px);
    font-family: var(--FontRegular);
}

.product__in__order__details__priceTotal {
    font-size: var(--Font20px);
    font-family: var(--FontSemiBold);
}
